<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Securehare</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>


      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}





<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SecureShare</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">logout</a></li>

      </ul>
    </div>
  </nav>
        <div class="collection">
        {%for file in files%}
            <a href="/download/{{file}}" class="collection-item">{{file}}</a>
        {%endfor%}{%for folder in folders%}
            <a href="/list/{{folder}}" class="collection-item">{{folder}}</a>
        {%endfor%}
      </div>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadfile">
    <input type="submit" value="upload" name="submit">
</form>


</body>







</html>

