<html>
<head>

<style>
input[type="submit"]{

    background-color: #555;
    color: #fff;
    border-radius: 10px;
}
</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Secureshare Login</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">StoreSecure Login</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">


      </ul>
    </div>


</nav>
{% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}


<form action="/login" method="post">
Username: <input type="text"name="username">
Password: <input type="password" name="password">
    <input type="submit" value="Login" name="submit">
</form>


</body>







</html>

